* {
    margin: 0;
}

header {
    padding: 20px;
    background-color: rgb(194, 255, 235);
    text-align: center;
    justify-content: center;
}

header > h1 {
    color: #00b2bb;
}

main {
    height: 100;
    padding: 30px 0;
    background-color: azure;
}

footer {
    height: 70px;
    background-color: #00b2bb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

h3, h4 {
    text-align: center;
}

hr {
    margin: 10px auto;
    max-width: 800px;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

.avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hobby__item {
    width: 150px;
}

.about__avatar {
    width: 15%;
    height: 15%;
}

.hobby__photos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}